body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
	font-family: 'comics-sans';
    max-width: 800px;
    margin: 0 auto;
    color: #9c3b3b;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
}
.topic {
	text-align: center;
	margin-bottom: 20px;
	word-spacing: 5px;
	color: violet;
}